//! Colors
//? primary

$orange: hsl(25, 97%, 53%);

//? NEUTRAl

$white: hsl(0, 0%, 100%);
$light-grey: hsl(217, 12%, 63%);
$medium-grey: hsl(216, 12%, 54%);
$dark-blue: hsl(212, 20%, 17%);
$very-dark-blue: hsl(216, 12%, 8%);

//! starting files

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 65%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: $very-dark-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Overpass", sans-serif;
  line-height: 25px;
  color: $white;
}

.container {
  width: 40rem;
  height: 40rem;
  background-color: $dark-blue;
  border-radius: 25px;
  padding: 30px;
  display: flex;
  align-items: center;

  &__rating {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &--logo {
      width: 5rem;
      height: 5rem;
      border-radius: 100%;
      background-color: hsl(214, 14%, 23%);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--content {
      height: 11.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & > h2 {
        font-size: 2.4rem;
        font-weight: 600;
      }
      & > p {
        font-size: 1.4rem;
        color: $light-grey;
      }
    }

    &--buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-btn {
        border: none;
        border-style: none;
        width: 5rem;
        height: 5rem;
        border-radius: 100%;
        font-size: 1.3rem;
        cursor: pointer;

        background-color: hsl(214, 14%, 23%);
        color: $medium-grey;

        &:hover {
          background-color: hsl(211, 11%, 41%);
          color: $white;
          transition: all 0.2s ease;
        }
      }
    }

    &--submit {
      border: none;
      border-style: none;
      background-color: $orange;
      color: $white;
      font-size: 1.5rem;
      font-weight: 500;
      letter-spacing: 4px;
      text-transform: uppercase;
      padding: 15px 0px;
      border-radius: 30px;
      cursor: pointer;

      &:hover {
        background-color: $white;
        color: $orange;
        transition: all 0.2s ease;
      }
    }
  }

  &__thankyou {
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &--userselection {
      background: hsl(214, 14%, 23%);
      font-size: 1.2rem;
      color: $orange;
      font-weight: 300;
      padding: 3px 20px;
      border-radius: 25px;
    }
    &--title {
      font-size: 2.3rem;
    }
    &--p {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1.3rem;
      width: 87%;
      margin-top: -20px;
      color: $light-grey;
    }
  }
}

.active-btn {
  background-color: $orange !important;
  color: $white !important;
}

.hidden {
  display: none;
}

@media screen and(max-width:471px) {
  .container {
    width: 90%;
  }
}

@media screen and(max-width:391px) {
  html {
    font-size: 60%;
  }
}

@media screen and(max-width:280px) {
  html {
    font-size: 50%;
  }
  .container {
    padding-top: 10px;
    padding-bottom: 10px;

    &__rating {
      &--logo {
        width: 4rem;
        height: 4rem;

        & > img {
          width: 15px;
          height: 15px;
        }
      }

      &--content {
        & > p {
          font-size: 1.2rem;
        }
      }
      &--buttons {
        &-btn {
          width: 4rem;
          height: 4rem;
        }
      }
    }
  }
}
